form
  .field
    label Название
    input(type='text', name='name')

  .field
    label Url
    input(type='text', name='url')

  .field
    label  Класс
    select(name='class')
      option(value='A') A
      option(value='B+') B+
      option(value='B') B
      option(value='C') C

  .field
    label Метро
    input(type='text', name='metro.station')
    input.small(type='text', name='metro.distance', placeholder='10')
    select(name='metro.distanceUnit')
      option(value='walk') мин. пешком
      option(value='transport') мин. транспортом

  .field
    label Площади
    input(type='text', name='area')

  .field
    label Цены
    input(type='text', name='price')

  .field
    label Описание
    textarea.long(name='desc', rows=2)

