@import 'nib'

$line-height = 20px
$font-size = 14px
$font-family = "Helvetica Neue", Helvetica, Arial, sans-serif
$color = #333


body
  line-height $line-height
  font $font-size $font-family
  color $color
