@import "bootstrap.css"

baseFontSize = 13px
baseLineHeight = 30px

body
  padding-top 40px

#translit
  direction rtl
  text-alight right
  font-size 1.8 * baseFontSize
  line-height 1.8 * baseLineHeight